<nb-card class="custom-modal">
  <nb-card-header>Add Retrospective</nb-card-header>
  <nb-card-body>
    <form [formGroup]="addPostForm" (ngSubmit)="saveChanges()">
      <div class="form-group">
        <label for="title">Title :</label>
        <input nbInput type="text" id="title" formControlName="title" class="form-control">
        <div *ngIf="isFieldInvalid('title')" class="alert alert-danger">
          <div *ngIf="addPostForm.get('title')?.hasError('required')">Title is required.
            You can't use Bad words (exp:  Stupid ,Hell , etc.)
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea nbInput id="content" formControlName="content" class="form-control" rows="5" required></textarea>
        <div *ngIf="isFieldInvalid('content')" class="alert alert-danger">
          <div *ngIf="addPostForm.get('content')?.hasError('required')">Content is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input nbInput type="file" id="image" (change)="onFileChange($event)" class="form-control">
      </div>

      <div class="buttons">
        <button nbButton status="primary" type="button" (click)="close()">Cancel</button>
        <button nbButton status="success" type="submit">Save changes</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
