<nb-card>
  <nb-card-header>
    Add Task
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="taskForm">
      <div class="form-group">
        <label for="taskName">Task Name</label>
        <input nbInput 
               fullWidth 
               placeholder="Enter task name" 
               formControlName="taskName">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input nbInput 
               fullWidth 
               placeholder="Enter task description" 
               formControlName="description">
      </div>

      <div class="form-group">
        <nb-card>
          <nb-card-header>Due Date</nb-card-header>
          <nb-card-body>
            <input nbInput
                   placeholder="Select Due Date"
                   [nbDatepicker]="endDatePicker"
                   formControlName="dueDate">
            <nb-datepicker #endDatePicker></nb-datepicker>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <nb-select formControlName="priority">
          <nb-option *ngFor="let priority of priorities" [value]="priority">
            {{ priority }}
          </nb-option>
        </nb-select>
      </div>

      <div class="form-group">
        <nb-checkbox formControlName="isCompleted"></nb-checkbox>
        <label for="isCompleted">Is Completed?</label>
        
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="success" (click)="submit()">Add Task</button>
    <button nbButton status="danger" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
